﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Hindi\Hindi-DateTime.yaml";
	this.Language = "Hindi";
	this.ClassName = "DateTimeDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>