<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Hindi\Hindi-Numbers.yaml";
	this.Language = "Hindi";
	this.ClassName = "NumbersDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>