﻿﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Arabic\Arabic-TimeZone.yaml";
	this.Language = "Arabic";
	this.ClassName = "TimeZoneDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>