################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/.NET/Microsoft.Recognizers.Text.DateTime/build/package
