# AppVeyor build configuration for JavaScript project
version: 1.0.{build}

image: Visual Studio 2017
environment:
  nodejs_version: "Stable"
  PYTHON: "C:\\Python36-x64"
  JAVA_HOME: "C:\\Program Files\\Java\\jdk9"
platform: Any CPU
configuration: Release

init:
- tzutil /s "UTC"

# Install Node 8
install:
  - ps: Install-Product node $env:nodejs_version
  - cmd: SET PATH=%PYTHON%;%PYTHON%\\Scripts;%JAVA_HOME%\bin;%PATH%

# Projects
clone_depth: 1
branches:
  only:
  - master
  - feature/*

build:
  parallel: true

build_script:
- cmd: >-
    @ECHO # Build env info

    @ECHO OS info

    CALL wmic os get caption, version, osarchitecture

    @ECHO Node version

    CALL node -v

    @ECHO NPM version

    CALL npm -v

    @ECHO V8 version

    CALL node -e "console.log(process.versions.v8);"

    cd .NET\

    build.ci.cmd

    cd ..\JavaScript\

    build.cmd

    cd ..\Python\

    build.cmd

    cd ..\java\

    mvn package

# disable automatic tests
test: off

artifacts:
    - path: '**\*Microsoft.Recognizers*.nupkg'
      name: NuGets
    - path: 'Java\libraries\**\recognizers-text*.jar'
      name: JARs
