<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="luis-common-upstream" value="https://msazure.pkgs.visualstudio.com/%nugetsource%/_packaging/luis-common-upstream/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>