<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="15.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncVoid" Action="Error" />
    <Rule Id="UseConfigureAwait" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Error" />
    <Rule Id="BC2007" Action="Error" />
    <Rule Id="BC2034" Action="Error" />
    <Rule Id="BC2038" Action="Error" />
    <Rule Id="CS0078" Action="Error" />
    <Rule Id="CS0105" Action="Error" />
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS0109" Action="Error" />
    <Rule Id="CS0114" Action="Error" />
    <Rule Id="CS0162" Action="Warning" />
    <Rule Id="CS0164" Action="Error" />
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0197" Action="Error" />
    <Rule Id="CS0219" Action="Error" />
    <Rule Id="CS0251" Action="Error" />
    <Rule Id="CS0252" Action="Error" />
    <Rule Id="CS0253" Action="Error" />
    <Rule Id="CS0278" Action="Error" />
    <Rule Id="CS0279" Action="Error" />
    <Rule Id="CS0280" Action="Error" />
    <Rule Id="CS0282" Action="Error" />
    <Rule Id="CS0419" Action="Error" />
    <Rule Id="CS0420" Action="Error" />
    <Rule Id="CS0435" Action="Error" />
    <Rule Id="CS0436" Action="Error" />
    <Rule Id="CS0437" Action="Error" />
    <Rule Id="CS0440" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0464" Action="Error" />
    <Rule Id="CS0465" Action="Error" />
    <Rule Id="CS0469" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0473" Action="Error" />
    <Rule Id="CS0612" Action="Error" />
    <Rule Id="CS0618" Action="Error" />
    <Rule Id="CS0626" Action="Error" />
    <Rule Id="CS0628" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS0652" Action="Error" />
    <Rule Id="CS0657" Action="Error" />
    <Rule Id="CS0658" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0660" Action="Error" />
    <Rule Id="CS0661" Action="Error" />
    <Rule Id="CS0665" Action="Error" />
    <Rule Id="CS0672" Action="Error" />
    <Rule Id="CS0675" Action="Error" />
    <Rule Id="CS0684" Action="Error" />
    <Rule Id="CS0693" Action="Error" />
    <Rule Id="CS0728" Action="Error" />
    <Rule Id="CS0809" Action="Error" />
    <Rule Id="CS0811" Action="Error" />
    <Rule Id="CS0824" Action="Error" />
    <Rule Id="CS1030" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1062" Action="Error" />
    <Rule Id="CS1064" Action="Error" />
    <Rule Id="CS1066" Action="Error" />
    <Rule Id="CS1072" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1570" Action="Error" />
    <Rule Id="CS1571" Action="Error" />
    <Rule Id="CS1572" Action="Error" />
    <Rule Id="CS1573" Action="Error" />
    <Rule Id="CS1574" Action="Error" />
    <Rule Id="CS1580" Action="Error" />
    <Rule Id="CS1581" Action="Error" />
    <Rule Id="CS1584" Action="Error" />
    <Rule Id="CS1587" Action="Error" />
    <Rule Id="CS1589" Action="Error" />
    <Rule Id="CS1590" Action="Error" />
    <Rule Id="CS1591" Action="Error" />
    <Rule Id="CS1592" Action="Error" />
    <Rule Id="CS1616" Action="Error" />
    <Rule Id="CS1633" Action="Error" />
    <Rule Id="CS1634" Action="Error" />
    <Rule Id="CS1635" Action="Error" />
    <Rule Id="CS1645" Action="Error" />
    <Rule Id="CS1658" Action="Error" />
    <Rule Id="CS1668" Action="Error" />
    <Rule Id="CS1685" Action="Error" />
    <Rule Id="CS1687" Action="Error" />
    <Rule Id="CS1690" Action="Error" />
    <Rule Id="CS1692" Action="Error" />
    <Rule Id="CS1695" Action="Error" />
    <Rule Id="CS1696" Action="Error" />
    <Rule Id="CS1697" Action="Error" />
    <Rule Id="CS1700" Action="Error" />
    <Rule Id="CS1701" Action="Error" />
    <Rule Id="CS1702" Action="Error" />
    <Rule Id="CS1710" Action="Error" />
    <Rule Id="CS1711" Action="Error" />
    <Rule Id="CS1712" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
    <Rule Id="CS1723" Action="Error" />
    <Rule Id="CS1734" Action="Error" />
    <Rule Id="CS1735" Action="Error" />
    <Rule Id="CS1762" Action="Error" />
    <Rule Id="CS1927" Action="Error" />
    <Rule Id="CS1956" Action="Error" />
    <Rule Id="CS1957" Action="Error" />
    <Rule Id="CS1974" Action="Error" />
    <Rule Id="CS1981" Action="Error" />
    <Rule Id="CS1998" Action="Error" />
    <Rule Id="CS2002" Action="Error" />
    <Rule Id="CS2008" Action="Error" />
    <Rule Id="CS2023" Action="Error" />
    <Rule Id="CS2029" Action="Error" />
    <Rule Id="CS2038" Action="Error" />
    <Rule Id="CS3000" Action="Error" />
    <Rule Id="CS3001" Action="Error" />
    <Rule Id="CS3002" Action="Error" />
    <Rule Id="CS3003" Action="Error" />
    <Rule Id="CS3005" Action="Error" />
    <Rule Id="CS3006" Action="Error" />
    <Rule Id="CS3007" Action="Error" />
    <Rule Id="CS3008" Action="Error" />
    <Rule Id="CS3009" Action="Error" />
    <Rule Id="CS3010" Action="Error" />
    <Rule Id="CS3011" Action="Error" />
    <Rule Id="CS3012" Action="Error" />
    <Rule Id="CS3013" Action="Error" />
    <Rule Id="CS3014" Action="Error" />
    <Rule Id="CS3015" Action="Error" />
    <Rule Id="CS3016" Action="Error" />
    <Rule Id="CS3017" Action="Error" />
    <Rule Id="CS3018" Action="Error" />
    <Rule Id="CS3019" Action="Error" />
    <Rule Id="CS3021" Action="Error" />
    <Rule Id="CS3022" Action="Error" />
    <Rule Id="CS3023" Action="Error" />
    <Rule Id="CS3024" Action="Error" />
    <Rule Id="CS3026" Action="Error" />
    <Rule Id="CS3027" Action="Error" />
    <Rule Id="CS4014" Action="Error" />
    <Rule Id="CS4024" Action="Error" />
    <Rule Id="CS4025" Action="Error" />
    <Rule Id="CS4026" Action="Error" />
    <Rule Id="CS7033" Action="Error" />
    <Rule Id="CS7035" Action="Error" />
    <Rule Id="CS7080" Action="Error" />
    <Rule Id="CS7081" Action="Error" />
    <Rule Id="CS7082" Action="Error" />
    <Rule Id="CS7090" Action="Error" />
    <Rule Id="CS7095" Action="Error" />
    <Rule Id="CS8001" Action="Error" />
    <Rule Id="CS8002" Action="Error" />
    <Rule Id="CS8009" Action="Error" />
    <Rule Id="CS8012" Action="Error" />
    <Rule Id="CS8018" Action="Error" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8021" Action="Error" />
    <Rule Id="CS8029" Action="Error" />
    <Rule Id="CS8032" Action="Error" />
    <Rule Id="CS8033" Action="Error" />
    <Rule Id="CS8034" Action="Error" />
    <Rule Id="CS8073" Action="Error" />
    <Rule Id="CS8094" Action="Error" />
    <Rule Id="CS8105" Action="Error" />
    <Rule Id="CS8123" Action="Error" />
    <Rule Id="CS8305" Action="Error" />
    <Rule Id="CS8321" Action="Error" />
    <Rule Id="CS8359" Action="Error" />
    <Rule Id="CS8360" Action="Error" />
    <Rule Id="CS8371" Action="Error" />
    <Rule Id="CS8383" Action="Error" />
    <Rule Id="CS8387" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0043" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="Error" />
    <Rule Id="BC2007" Action="Error" />
    <Rule Id="BC2025" Action="Error" />
    <Rule Id="BC2034" Action="Error" />
    <Rule Id="BC2038" Action="Error" />
    <Rule Id="BC40000" Action="Error" />
    <Rule Id="BC40001" Action="Error" />
    <Rule Id="BC40003" Action="Error" />
    <Rule Id="BC40004" Action="Error" />
    <Rule Id="BC40005" Action="Error" />
    <Rule Id="BC40007" Action="Error" />
    <Rule Id="BC40008" Action="Error" />
    <Rule Id="BC40009" Action="Error" />
    <Rule Id="BC40010" Action="Error" />
    <Rule Id="BC40011" Action="Error" />
    <Rule Id="BC40012" Action="Error" />
    <Rule Id="BC40014" Action="Error" />
    <Rule Id="BC40018" Action="Error" />
    <Rule Id="BC40019" Action="Error" />
    <Rule Id="BC40020" Action="Error" />
    <Rule Id="BC40025" Action="Error" />
    <Rule Id="BC40026" Action="Error" />
    <Rule Id="BC40027" Action="Error" />
    <Rule Id="BC40028" Action="Error" />
    <Rule Id="BC40029" Action="Error" />
    <Rule Id="BC40030" Action="Error" />
    <Rule Id="BC40031" Action="Error" />
    <Rule Id="BC40032" Action="Error" />
    <Rule Id="BC40033" Action="Error" />
    <Rule Id="BC40034" Action="Error" />
    <Rule Id="BC40035" Action="Error" />
    <Rule Id="BC40038" Action="Error" />
    <Rule Id="BC40039" Action="Error" />
    <Rule Id="BC40040" Action="Error" />
    <Rule Id="BC40041" Action="Error" />
    <Rule Id="BC40042" Action="Error" />
    <Rule Id="BC40043" Action="Error" />
    <Rule Id="BC40046" Action="Error" />
    <Rule Id="BC40048" Action="Error" />
    <Rule Id="BC40049" Action="Error" />
    <Rule Id="BC40050" Action="Error" />
    <Rule Id="BC40051" Action="Error" />
    <Rule Id="BC40052" Action="Error" />
    <Rule Id="BC40053" Action="Error" />
    <Rule Id="BC40054" Action="Error" />
    <Rule Id="BC40055" Action="Error" />
    <Rule Id="BC40056" Action="Error" />
    <Rule Id="BC40057" Action="Error" />
    <Rule Id="BC40059" Action="Error" />
    <Rule Id="BC40060" Action="Error" />
    <Rule Id="BC40998" Action="Error" />
    <Rule Id="BC41001" Action="Error" />
    <Rule Id="BC41002" Action="Error" />
    <Rule Id="BC41003" Action="Error" />
    <Rule Id="BC41004" Action="Error" />
    <Rule Id="BC41005" Action="Error" />
    <Rule Id="BC41006" Action="Error" />
    <Rule Id="BC41007" Action="Error" />
    <Rule Id="BC41008" Action="Error" />
    <Rule Id="BC41009" Action="Error" />
    <Rule Id="BC41997" Action="Error" />
    <Rule Id="BC41998" Action="Error" />
    <Rule Id="BC41999" Action="Error" />
    <Rule Id="BC42000" Action="Error" />
    <Rule Id="BC42004" Action="Error" />
    <Rule Id="BC42016" Action="Error" />
    <Rule Id="BC42017" Action="Error" />
    <Rule Id="BC42018" Action="Error" />
    <Rule Id="BC42019" Action="Error" />
    <Rule Id="BC42020" Action="Error" />
    <Rule Id="BC42021" Action="Error" />
    <Rule Id="BC42022" Action="Error" />
    <Rule Id="BC42024" Action="Error" />
    <Rule Id="BC42025" Action="Error" />
    <Rule Id="BC42026" Action="Error" />
    <Rule Id="BC42029" Action="Error" />
    <Rule Id="BC42030" Action="Error" />
    <Rule Id="BC42031" Action="Error" />
    <Rule Id="BC42032" Action="Error" />
    <Rule Id="BC42033" Action="Error" />
    <Rule Id="BC42034" Action="Error" />
    <Rule Id="BC42035" Action="Error" />
    <Rule Id="BC42036" Action="Error" />
    <Rule Id="BC42037" Action="Error" />
    <Rule Id="BC42038" Action="Error" />
    <Rule Id="BC42099" Action="Error" />
    <Rule Id="BC42101" Action="Error" />
    <Rule Id="BC42102" Action="Error" />
    <Rule Id="BC42104" Action="Error" />
    <Rule Id="BC42105" Action="Error" />
    <Rule Id="BC42106" Action="Error" />
    <Rule Id="BC42107" Action="Error" />
    <Rule Id="BC42108" Action="Error" />
    <Rule Id="BC42109" Action="Error" />
    <Rule Id="BC42111" Action="Error" />
    <Rule Id="BC42207" Action="Error" />
    <Rule Id="BC42300" Action="Error" />
    <Rule Id="BC42301" Action="Error" />
    <Rule Id="BC42302" Action="Error" />
    <Rule Id="BC42303" Action="Error" />
    <Rule Id="BC42304" Action="Error" />
    <Rule Id="BC42305" Action="Error" />
    <Rule Id="BC42306" Action="Error" />
    <Rule Id="BC42307" Action="Error" />
    <Rule Id="BC42308" Action="Error" />
    <Rule Id="BC42309" Action="Error" />
    <Rule Id="BC42310" Action="Error" />
    <Rule Id="BC42311" Action="Error" />
    <Rule Id="BC42312" Action="Error" />
    <Rule Id="BC42313" Action="Error" />
    <Rule Id="BC42314" Action="Error" />
    <Rule Id="BC42315" Action="Error" />
    <Rule Id="BC42316" Action="Error" />
    <Rule Id="BC42317" Action="Error" />
    <Rule Id="BC42318" Action="Error" />
    <Rule Id="BC42319" Action="Error" />
    <Rule Id="BC42320" Action="Error" />
    <Rule Id="BC42321" Action="Error" />
    <Rule Id="BC42322" Action="Error" />
    <Rule Id="BC42324" Action="Error" />
    <Rule Id="BC42326" Action="Error" />
    <Rule Id="BC42327" Action="Error" />
    <Rule Id="BC42328" Action="Error" />
    <Rule Id="BC42332" Action="Error" />
    <Rule Id="BC42333" Action="Error" />
    <Rule Id="BC42334" Action="Error" />
    <Rule Id="BC42335" Action="Error" />
    <Rule Id="BC42336" Action="Error" />
    <Rule Id="BC42337" Action="Error" />
    <Rule Id="BC42338" Action="Error" />
    <Rule Id="BC42339" Action="Error" />
    <Rule Id="BC42340" Action="Error" />
    <Rule Id="BC42341" Action="Error" />
    <Rule Id="BC42342" Action="Error" />
    <Rule Id="BC42343" Action="Error" />
    <Rule Id="BC42344" Action="Error" />
    <Rule Id="BC42345" Action="Error" />
    <Rule Id="BC42346" Action="Error" />
    <Rule Id="BC42347" Action="Error" />
    <Rule Id="BC42348" Action="Error" />
    <Rule Id="BC42349" Action="Error" />
    <Rule Id="BC42350" Action="Error" />
    <Rule Id="BC42351" Action="Error" />
    <Rule Id="BC42352" Action="Error" />
    <Rule Id="BC42353" Action="Error" />
    <Rule Id="BC42354" Action="Error" />
    <Rule Id="BC42355" Action="Error" />
    <Rule Id="BC42356" Action="Error" />
    <Rule Id="BC42357" Action="Error" />
    <Rule Id="BC42358" Action="Error" />
    <Rule Id="BC42359" Action="Error" />
    <Rule Id="BC42360" Action="Error" />
    <Rule Id="BC42361" Action="Error" />
    <Rule Id="BC42364" Action="Error" />
    <Rule Id="BC42366" Action="Error" />
    <Rule Id="BC42367" Action="Error" />
    <Rule Id="BC42368" Action="Error" />
    <Rule Id="BC42369" Action="Error" />
    <Rule Id="BC42370" Action="Error" />
    <Rule Id="BC42371" Action="Error" />
    <Rule Id="BC42372" Action="Error" />
    <Rule Id="BC42373" Action="Error" />
    <Rule Id="BC42374" Action="Error" />
    <Rule Id="BC42375" Action="Error" />
    <Rule Id="BC42376" Action="Error" />
    <Rule Id="BC42377" Action="Error" />
    <Rule Id="BC42378" Action="Error" />
    <Rule Id="BC42379" Action="Error" />
    <Rule Id="BC42380" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.Features" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.Features">
    <Rule Id="IDE0043" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="Error" />
    <Rule Id="SA0002" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1006" Action="Error" />
    <Rule Id="SA1007" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1014" Action="Error" />
    <Rule Id="SA1015" Action="Error" />
    <Rule Id="SA1016" Action="Error" />
    <Rule Id="SA1017" Action="Error" />
    <Rule Id="SA1018" Action="Error" />
    <Rule Id="SA1019" Action="Error" />
    <Rule Id="SA1020" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1023" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1027" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="Error" />
    <Rule Id="SA1103" Action="Error" />
    <Rule Id="SA1104" Action="Error" />
    <Rule Id="SA1105" Action="Error" />
    <Rule Id="SA1106" Action="Error" />
    <Rule Id="SA1107" Action="Error" />
    <Rule Id="SA1108" Action="Error" />
    <Rule Id="SA1110" Action="Error" />
    <Rule Id="SA1111" Action="Error" />
    <Rule Id="SA1112" Action="Error" />
    <Rule Id="SA1113" Action="Error" />
    <Rule Id="SA1114" Action="Error" />
    <Rule Id="SA1115" Action="Error" />
    <Rule Id="SA1116" Action="Error" />
    <Rule Id="SA1117" Action="Error" />
    <Rule Id="SA1118" Action="Error" />
    <Rule Id="SA1119" Action="Error" />
    <Rule Id="SA1120" Action="Error" />
    <Rule Id="SA1121" Action="Error" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1123" Action="Error" />
    <Rule Id="SA1124" Action="Error" />
    <Rule Id="SA1125" Action="Error" />
    <Rule Id="SA1127" Action="Error" />
    <Rule Id="SA1128" Action="Error" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1130" Action="Error" />
    <Rule Id="SA1131" Action="Error" />
    <Rule Id="SA1132" Action="Error" />
    <Rule Id="SA1133" Action="Error" />
    <Rule Id="SA1134" Action="Error" />
    <Rule Id="SA1135" Action="Error" />
    <Rule Id="SA1136" Action="Error" />
    <Rule Id="SA1137" Action="Error" />
    <Rule Id="SA1139" Action="Error" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="Error" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1203" Action="Error" />
    <Rule Id="SA1204" Action="Error" />
    <Rule Id="SA1205" Action="Error" />
    <Rule Id="SA1206" Action="Error" />
    <Rule Id="SA1207" Action="Error" />
    <Rule Id="SA1208" Action="Error" />
    <Rule Id="SA1209" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1211" Action="Error" />
    <Rule Id="SA1212" Action="Error" />
    <Rule Id="SA1213" Action="Error" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1216" Action="Error" />
    <Rule Id="SA1217" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1304" Action="Error" />
    <Rule Id="SA1305" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1307" Action="Error" />
    <Rule Id="SA1308" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="Error" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1313" Action="Error" />
    <Rule Id="SA1314" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1412" Action="Error" />
    <Rule Id="SA1413" Action="Error" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1501" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1506" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1509" Action="Error" />
    <Rule Id="SA1510" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1514" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="Error" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1519" Action="Error" />
    <Rule Id="SA1520" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="Error" />
    <Rule Id="SA1602" Action="Error" />
    <Rule Id="SA1604" Action="Error" />
    <Rule Id="SA1605" Action="Error" />
    <Rule Id="SA1606" Action="Error" />
    <Rule Id="SA1607" Action="Error" />
    <Rule Id="SA1608" Action="Error" />
    <Rule Id="SA1609" Action="Error" />
    <Rule Id="SA1610" Action="Error" />
    <Rule Id="SA1611" Action="Error" />
    <Rule Id="SA1612" Action="Error" />
    <Rule Id="SA1613" Action="Error" />
    <Rule Id="SA1614" Action="Error" />
    <Rule Id="SA1615" Action="Error" />
    <Rule Id="SA1616" Action="Error" />
    <Rule Id="SA1617" Action="Error" />
    <Rule Id="SA1618" Action="Error" />
    <Rule Id="SA1619" Action="Error" />
    <Rule Id="SA1620" Action="Error" />
    <Rule Id="SA1621" Action="Error" />
    <Rule Id="SA1622" Action="Error" />
    <Rule Id="SA1623" Action="Error" />
    <Rule Id="SA1624" Action="Error" />
    <Rule Id="SA1625" Action="Error" />
    <Rule Id="SA1626" Action="Error" />
    <Rule Id="SA1627" Action="Error" />
    <Rule Id="SA1629" Action="Error" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="Error" />
    <Rule Id="SA1635" Action="Error" />
    <Rule Id="SA1636" Action="Error" />
    <Rule Id="SA1637" Action="Error" />
    <Rule Id="SA1638" Action="Error" />
    <Rule Id="SA1640" Action="Error" />
    <Rule Id="SA1641" Action="Error" />
    <Rule Id="SA1642" Action="Error" />
    <Rule Id="SA1643" Action="Error" />
    <Rule Id="SA1648" Action="Error" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1651" Action="Error" />
  </Rules>
</RuleSet>