﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Portuguese\Portuguese-DateTime.yaml";
	this.Language = "Portuguese";
	this.ClassName = "DateTimeDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>