<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-Numbers.yaml";
	this.Language = null;
	this.ClassName = "BaseNumbers";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>