<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-HashTag.yaml";
	this.Language = null;
	this.ClassName = "BaseHashTag";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>