<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-Mention.yaml";
	this.Language = null;
	this.ClassName = "BaseMention";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>