<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-IP.yaml";
	this.Language = null;
	this.ClassName = "BaseIP";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>