﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Common\DateTime-English.yaml";
	this.Language = "English";
	this.ClassName = "DateTimeDefinition";
#>
<#@ include file="..\NumericBase.ttinclude"#>