<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="4.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta008" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net462" />
  <package id="Text.Analyzers" version="2.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="vswhere" version="2.2.11" targetFramework="net462" developmentDependency="true" />
</packages>