﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Turkish\Turkish-Choice.yaml";
	this.Language = "Turkish";
	this.ClassName = "ChoiceDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>