﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Turkish\Turkish-DateTime.yaml";
	this.Language = "Turkish";
	this.ClassName = "DateTimeDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>