<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Turkish\Turkish-NumbersWithUnit.yaml";
	this.Language = "Turkish";
	this.ClassName = "NumbersWithUnitDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>