<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Turkish\Turkish-Numbers.yaml";
	this.Language = "Turkish";
	this.ClassName = "NumbersDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>