<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Turkish\Turkish-QuotedText.yaml";
	this.Language = "Turkish";
	this.ClassName = "QuotedTextDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>