<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-CreditCard.yaml";
	this.Language = null;
	this.ClassName = "BaseCreditCard";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>