<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Base-Email.yaml";
	this.Language = null;
	this.ClassName = "BaseEmail";
#>
<#@ include file=".\CommonDefinitions.ttinclude"#>