<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Chinese\Chinese-NumbersWithUnit.yaml";
	this.Language = "Chinese";
	this.ClassName = "NumbersWithUnitDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>