﻿<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Italian\Italian-Choice.yaml";
	this.Language = "Italian";
	this.ClassName = "ChoiceDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>