<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Italian\Italian-NumbersWithUnit.yaml";
	this.Language = "Italian";
	this.ClassName = "NumbersWithUnitDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>